---
layout: default
title: Home
---

<section id="welcome">
  <div class="wel-container surface-container">
    <p>
      Luxury mobile detailing service, providing a meticulously consistent
      experience.
    </p>
    <hr />
    <p>
      Customized service established with the customer - translated into the
      vehicle.
    </p>
  </div>

  <a href="#process">
    <button class="wel-btn surface-container">Our Process</button>
  </a>
  <a href="#services">
    <button class="wel-btn surface-container">Available Services</button>
  </a>
</section>

<section id="process">
  <div class="process-flex-container surface-container">
    <div class="process-title">
      <h2>Preparation</h2>
    </div>

    <div class="process-description">
      <ul>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >Snow foam is applied to loosen dirt and lubricate surfaces.
        </li>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >Vehicle is hand washed using a two buck system, this ensures no
          additional markings are put into the paint.
        </li>
      </ul>
    </div>
  </div>

  <div class="process-flex-container surface-container">
    <div class="process-title">
      <h2>Decontaimination</h2>
    </div>
    <div class="process-description">
      <ul>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >
          The cleaned surface is then rid of any tar, iron fallout, and surface
          level bugs. All of which are extremley common contaiminates from the
          road and environment.
        </li>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >
          The vehicle is then wiped over with a clay bar, similar to molding
          clay or dense putty. This process uplifts any remaining contaiminates
          that are embeded within the paints top coat.
        </li>
      </ul>
    </div>
  </div>

  <div class="process-flex-container surface-container">
    <div class="process-title">
      <h2>Restoration</h2>
    </div>
    <div class="process-description">
      <ul>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >
          The cleaned and fully decontaiminated surface can now be inspected to
          determine what unique level of restoration is required to reveal high
          quality paint.
        </li>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >
          The surface will receive one or multiple stages of abrasive compound
          which removes imperfections, reveling the paints original quality.
        </li>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >
          Finally, the surface is then polished with a fine grit compound that
          will refine the paint, further enhancing gloss and luster.
        </li>
      </ul>
    </div>
  </div>

  <div class="process-flex-container surface-container">
    <div class="process-title">
      <h2>Protection</h2>
    </div>
    <div class="process-description">
      <ul>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >
          The vehicles newly restored paint is then given a layer protection
          based on the owners desired outcome. Ranging from 3-6 months to
          upwards of a year in protection and hydrophobic qualities.
        </li>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >
          Our highest level of protection, ceramic coating offers maximum
          protection and hydrophobicity (fancy way of saying extremly water
          resistant).
        </li>
        <li>
          <span class="process-arrow"
            >{% include social-icon.html icon="ProcessSVG" %}</span
          >
          Ceramic coatings provide 12 months + of protection and makes future
          washes effortless due to the hydrophobic qualities that don't allow
          any future dirt, debris, and water adhere to paint.
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="services">
  <div class="services-parent-container">
    <div class="service-card surface-container">
      <h2>Maintenance Services</h2>
      <p>
        Our maintaince packages give your vehicle absolutly everything needed to
        maintain peak quality for years to come and reliably protect your
        investment.
      </p>
      <br />
      <p>
        We never attempt to upsell you for additional services that should be
        expected when having your vehicle properly detailed.
      </p>
      <a href="/services.html">
        <button class="services-btn surface-container">
          Learn More
        </button>
      </a>
    </div>

    <div class="service-card surface-container">
      <h2>Paint Correction Service</h2>
      <p>
        Our restoration package is individually designed to ensure that your
        vehicles paint is returned to its once before mirror finish.
      </p>
        <a href="/services.html">
          <button class="services-btn surface-container">
            Learn More
          </button>
        </a>
      </p>
    </div>

    <div class="service-card surface-container">
      <h2>Ceramic Services</h2>
      <p>
        For those who see more than just a vehicle and want to maintain their
        investments value and showroom quality.
      </p>
      <br />
      <p>
        We offer Ceramic Coating applications, which provide the ultimate level
        of protection from the envirment and normal wear, that would otherwise
        breakdown your vehicles exterior surfacing over time.
      </p>
      <a href="/services.html">
        <button class="services-btn surface-container">
          Learn More
        </button>
      </a>
    </div>

    <div class="service-card surface-container">
      <h2>Additonal Services Offered</h2>
      <ul>
        <li>Hydrophobic Window Treatment</li>
        <li>Headlight + Taillight Restoration</li>
        <li>Engine Cleaning + Dressing</li>
        <li>Ceramic Coating for Leather Surfaces</li>
        <li>Window Tinting (Coming Soon!)</li>
      </ul>

      <button class="services-btn surface-container">
        Learn More
      </button>
    </div>
  </div>
</section>
