---
layout: default
title: Home
---

<section class="img-container" id="welcome">
  
</section>

<section class="promise">
  <div class="promise-text-wrap">
    <h2 class="main-title">Bespoke Detailing</h2>
    <p>
      No two vehicles see the same conditions; which is why we tailer each detail, to each client. 
      The same areas are targeted, but the treatment and duration vary per vehicle, minimizing overall wear.
    </p>
  </div>

  <div class="yellow-line"></div>
 

  <div class="promise-text-wrap">
    <h2 class="main-title">Our Promise</h2>
    <p>
      Exceed Expectations - Client Focus - Treated as Our Own
    </p>
  </div>
</section>

<section class="contamination">
  <h2 class="main-title">Contaminants</h2>
  <div class="flex-container">
    <div class="content-card">
      <h3 class="card-title">Physical Contamination</h3>
      <span class="physical-svg">{% include social-icon.html icon="BugFill" %}</span>
      <span class="physical-svg">{% include social-icon.html icon="BugLine" %}</span>
      <ul>
        <li>Dirt</li>
        <li>Tree Sap</li>
        <li>Bugs</li>
        <li>Soot</li>
      </ul>
    </div>
    <div class="content-card">
      <h3 class="card-title">Chemical Contamination</h3>
      <span class="chemical-svg">{% include social-icon.html icon="ChemFill" %}</span>
      <span class="chemical-svg">{% include social-icon.html icon="ChemLine" %}</span>
      <ul>
        <li>Road Tar</li>
        <li>Iron Fallout</li>
        <li>Acid Rain</li>
      </ul>
    </div>
    <div class="content-card">
      <h3 class="card-title">Extreme Heat</h3>
      <span class="extreme-svg">{% include social-icon.html icon="SunFill" %}</span>
      <span class="extreme-svg">{% include social-icon.html icon="SunLine" %}</span>
      <ul>
        <li>High Heat</li>
        <li>Direct Sunlight</li>
      </ul>
    </div>
  </div>

  <div class="text-wrap">
    <p>Here are common contaminants and conditions that weaken protective coatings and make paint fade.
    All of which can lead to permanent damage if left untreated.</p>
  </div>
</section>

<section class="services">
  <h2 class="main-title">Available Services</h2>
  <div class="flex-container">
    <div class="content-card">
      <h3 class="card-title">Detailing Packages</h3>
      <p>Our packages bundle restoration details and maintenance details in a single price, so
        you can be sure your vehicle is always kept in showroom condition.</p>
      <button class="primary-btn">Learn More</button>
    </div>
    <div class="content-card">
      <h3 class="card-title">Restoration Details</h3>
      <p>Restoration details are made for vehicles which have never been detailed before or have been slightly neglected.</p>
      <button class="primary-btn">Learn More</button>
    </div>
    <div class="content-card">
      <h3 class="card-title">Maintenance Details</h3>
      <p>Maintenance details are for those looking for a faster service or a simple refresh.</p>
      <button class="primary-btn">Learn More</button>
    </div>
  </div>
</section>

<section class="contact">
  <div class="text-wrap">
    <p class="main-title">We are always available to answer any questions.</p>
  </div>
  <div class="text-wrap">
    <span class="email-svg">{% include social-icon.html icon="MailLine" %}</span> 
    <p class="main-title">gallerydetail@gmail.com</p>
  </div>
    <div class="text-wrap">
      <span class="phone-svg">{% include social-icon.html icon="PhoneLine" %}</span>
      <p class="main-title">(954) 740 1561</p>
    </div>
</section>

    