<footer id="foot">
  <div class="footer-container">
    <div class="footer-contact">
      <p>Email Us:</p>
      <p>gallerydetail@gmail.com</p>
    </div>

    <div class="footer-icons">
      <a href="https://www.instagram.com/gallery_detail/" target="_blank"
        >{% include social-icon.html icon="Instagram" %}</a
      >
      <a
        href="https://www.facebook.com/Gallery-Detail-100866381671593"
        target="_blank"
        >{% include social-icon.html icon="Facebook" %}</a
      >
    </div>

    <div>
      <p>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></p>
      <br />
      <a
        target="_blank"
        href="https://www.termsfeed.com/live/ceaaba74-e434-4938-8720-41bbc8d9b484"
        >Privacy Policy</a
      >
    </div>
  </div>
</footer>
