<footer id="foot">
  <div class="footer-container">
    <div class="footer-contact">
      <p>
        Contact Us:
      </p>
      <p>gallerydetail@gmail.com</p>
    </div>

    <div class="footer-icons">
      <a href="https://www.instagram.com/gallery_detail/" target="_blank"
        >{% include social-icon.html icon="Instagram" %}</a
      >
      <a
        href="https://www.facebook.com/Gallery-Detail-100866381671593"
        target="_blank"
        >{% include social-icon.html icon="Facebook" %}</a
      >
      <a
        href="https://www.youtube.com/channel/UCppkIb91UxgbHrVssN4jmPQ?view_as=subscriber"
        target="_blank"
        >{% include social-icon.html icon="YouTube" %}</a
      >
    </div>

    <div class="footer-copy">
      <p>Gallery Detail LLC.</p>
      <p>Est. 2020</p>
      <p>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></p>
    </div>
  </div>
</footer>
