<header id="nav">
  <div class="nav-flex-container">
    <div class="nav-item">
      <span class="nav-svg">{% include social-icon.html icon="LogoSVG" %}</span>
      <a href="/index.html">
        <h1 id="logo">Gallery Detail</h1>
      </a>
    </div>

    <div class="nav-item desktop-only">
      <ul>
        <li><a class="nav-link" href="/services.html">Service Packages</a></li>
        <li>
          <p><em>Appointments Opening Soon!</em></p>
        </li>
        <li>
          <a class="nav-link hide" href="https://gallerydetail.setmore.com"
            >Schedule Appointment Now
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
