<nav class="nav-flex-container">
  <div class="logo">
    <span class="nav-svg">{% include social-icon.html icon="LogoSVG" %}</span>
    <a href="/index.html">
      <h1 id="logo">Gallery Detail</h1>
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <a
        target="_blank"
        class="nav-link"
        href="https://gallerydetail.setmore.com"
        >Schedule Now
      </a>
    </li>
    <li><a class="nav-link" href="/blog.html">Blog</a></li>
  </ul>

  <ul class="nav-links-desktop">
    <li>
      <a
        target="_blank"
        class="nav-link"
        href="https://gallerydetail.setmore.com"
        >Schedule Now
      </a>
      <br />
    </li>
    <li><a class="nav-link" href="/blog.html">Blog</a></li>
  </ul>
</nav>
