<nav class="nav-flex-container">
  <div class="logo">
    <span class="nav-svg">{% include social-icon.html icon="LogoSVG" %}</span>
    <a href="/index.html">
      <h1 id="logo">Gallery Detail</h1>
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <a class="nav-link" href="#packages">Services</a>
    </li>
    <li>
      <a class="nav-link" href="/blog.html">Video Tips & Blog</a>
    </li>
    <li>
      <a class="nav-link">Gallery</a>
    </li>
    <li>
      <a class="nav-link" href="/about.html">About Me</a>
    </li>
  </ul>

  <ul class="nav-links-desktop">
    <li>
      <a class="nav-link" href="#packages">Services</a>
    </li>
    <br />
    <li>
      <a class="nav-link" href="/blog.html">Video Tips & Blog</a>
    </li>
    <br />
    <li>
      <a class="nav-link">Gallery</a>
    </li>
    <br />
    <li><a class="nav-link" href="/about.html">About Me</a></li>
  </ul>
</nav>
