<div class="container contact-flex">
    <div class='whysign'>
        <div class="logo-box">
            <span class="contact-logo nav-svg">{% include social-icon.html icon="LogoSVG" %}</span>
            <h1 id="logo">Gallery Detail</h1>
        </div>
        <h3 class="contact-heading">Sign up to receive %20 off your first interior or exterior restoration detail!</h1>
    </div>
    <div class='signup'>
        <form action="https://formspree.io/f/xyybwggo" method="POST">
            <input type='text' name="fname" placeholder='First:' />
            <input type='text' name="lname" placeholder='Last:' />
            <input type='email' name="_replyto" placeholder='Email:' />
            <input type='tel' name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder='Phone:' />
            <input type='submit' value="Send" placeholder='SUBMIT' />
        </form>
    </div>
</div>