/* Resets & General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #121212;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Font Style, Weight, Size, and Colors */
#logo {
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 1.1rem;
  display: inline;
}

@media (min-width: 350px) {
  #logo {
    font-size: 1.4rem;
  }
}

@media (min-width: 750px) {
  #logo {
    font-size: 1.7rem;
  }
}

.nav-links,
p,
h2,
li,
button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  color: white;
}

.nav-links,
h2,
button {
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
}

#services h2,
#service-details h2 {
  color: #ffd54f;
}

h3,
footer {
  font-family: 'PT Sans', sans-serif;
}

h3 {
  font-style: italic;
  color: #ffff81;
}

footer p,
footer li,
footer a {
  font-weight: 700;
  color: #c8a415;
}

footer p {
  font-size: 0.6rem;
}

/* Line Spacing  */
p,
.process-description li,
.service-card li {
  line-height: 1.75em;
}

/* Main is only in the default layout - this holds the rest of the sections */
main {
  width: 90%;
  margin: auto;
}

/* Opacity Containers */
.nav-flex-container {
  background-color: rgba(255, 255, 255, 0.12);
  width: 100%;
  padding: 1.3em;
  border-bottom: 1px solid #e0e0e0;
}

.surface-container {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #c8a415;
}

.footer-container {
  background-color: rgba(255, 255, 255, 0.12);
  width: 100%;
  border-top: 1px solid #e0e0e0;
  padding: 1.5em;
}

.services-btn,
.service-details-btn {
  background-color: #ffd54f;
  color: black;
  border-color: #ffd54f;
}

/* Navigation */
.nav-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links-desktop {
  display: none;
}

.logo-svg {
  display: inline;
  margin-right: 0.6em;
}

/* Mobile Menu */
.nav-links {
  position: absolute;
  top: 4.6em;
  height: 6vh;
  width: 100%;
  background-color: #ffd54f;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.nav-links li {
  font-size: 1rem;
}

.nav-links li a {
  color: black;
  font-weight: 700;
}

@media screen and (min-width: 1000px) {
  .nav-links {
    display: none;
  }

  .nav-links-desktop {
    display: flex;
  }

  .nav-links-desktop li {
    font-size: 1.3rem;
    margin-right: 3em;
  }

  .nav-links-desktop li a {
    color: white;
  }

  .nav-link {
    border-bottom: 1px solid #ffd54f;
  }
}

/* Main Content Sections */
#welcome {
  height: 80vh;
}

.wel-container {
  margin-top: 50%;
  padding: 2em;
}

hr {
  margin: 1em 0;
}

.wel-btn {
  display: block;
  margin: 4em auto;
  width: 75%;
  padding: 1em 2em;
}

@media screen and (min-width: 1000px) {
  .wel-btn {
    display: none;
  }

  .wel-container {
    font-size: 2rem;
    margin-top: 10%;
    padding: 5em 3em;
  }
}

.process-flex-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-bottom: 3em;
}

.process-title {
  margin-bottom: 1em;
}

.process-description li {
  padding-bottom: 1em;
}

.process-description ul li::before {
  content: '\2022';
  color: #ffd54f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.process-arrow {
  display: none;
}

@media screen and (min-width: 1000px) {
  .process-description ul li::before {
    display: none;
  }

  .process-arrow {
    display: inline;
    padding-right: 1em;
  }

  .process-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .process-title {
    flex-grow: 2;
  }

  .process-title h2 {
    text-align: left;
    margin-left: 9em;
  }

  .process-description {
    flex-grow: 3;
  }

  .process-description li {
    text-align: left;
    margin-left: 30%;
  }
}

#services {
  margin-top: 15em;
  margin-bottom: 3em;
}

.services-parent-container {
  display: flex;
  flex-direction: column;
}

.service-card {
  padding: 2em;
  margin: 2em auto;
  width: 100%;
  height: 100%;
}

.service-card h3 {
  margin-bottom: 1em;
}

.service-card h2 {
  margin-bottom: 0.8em;
}

.services-btn {
  width: 50%;
  margin: 2em auto 3.5em auto;
  padding: 1em 2em;
}

@media screen and (min-width: 1000px) {
  .services-parent-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5em;
  }

  .service-card {
    font-size: 1.3rem;
    padding: 1.3em;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .service-card h3 {
    padding: 0.5em 0;
  }

  .services-btn {
    font-size: 1.2rem;
    padding: 0.5em 3em;
  }
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-copy a {
  text-decoration: underline;
}

.footer-icons {
  align-self: center;
}

.footer-icons a {
  padding-left: 1.5em;
}

/* Seperate Pages */

/* Service Details Page */

#service-details {
  margin-top: 3em;
  margin-bottom: 3em;
}

.service-details-parent-container {
  display: flex;
  flex-direction: column;
}

.service-details-card {
  padding: 2em;
  margin: 2em auto;
  width: 100%;
  height: 100%;
}

.service-details-card h3 {
  margin-bottom: 1em;
}

.service-details-card h2 {
  margin-bottom: 0.8em;
}

.service-details-btn {
  width: 50%;
  margin: 3em auto 3.5em auto;
  padding: 1em 2em;
}

@media screen and (min-width: 1000px) {
  .service-details-parent-container {
    display: grid;
    grid-template-areas:
      'mainExt mainInt'
      'paint ceramic'
      'additional additional';
    grid-gap: 1.5em;
  }

  #main-ext {
    grid-area: mainExt;
  }

  #main-int {
    grid-area: mainInt;
  }

  #paint {
    grid-area: paint;
  }

  #ceramic {
    grid-area: ceramic;
  }

  #additional {
    grid-area: additional;
  }

  .service-details-card {
    font-size: 1.3rem;
    padding: 1.3em;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .service-details-card h3 {
    padding: 0.5em 0;
  }

  .service-details-btn {
    font-size: 1.2rem;
    padding: 0.5em 3em;
  }

  .service-details-row-1 {
    flex: 0 0 50%;
  }

  .service-details-row-2 {
    flex: 0 0 50%;
  }

  .service-details-row-3 {
    flex: 0 0 100%;
  }
}

/* Blog Posts Page */

#blog-page-heading {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  margin-bottom: 1.2em;
  margin-top: 3em;
  color: white;
}

#blog-page-heading-ul li {
  padding-bottom: 2em;
}

#blog-page-heading-ul a {
  color: #c8a415;
}

/* Blog Posts */

.post-main-container * {
  text-align: left;
}

.post-main-container {
  margin: 3em auto;
}

.post-title,
.post-subheading,
.post-main-container ol li {
  font-family: 'PT Sans Narrow', sans-serif;
}

.post-title,
.post-subheading {
  font-weight: 400;
}

.post-main-container ol li {
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
}

.post-title {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 3rem;
  border-bottom: 1px solid #ffd54f;
  color: white;
}

.post-subheading {
  padding-bottom: 0.5em;
  font-weight: 700;
  color: #ffd54f;
}

.post-main-container p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.3125em;
}

.post-main-container ol {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.post-main-container p,
ol {
  margin-bottom: 1.5em;
}

.post-main-container small {
  color: #ffd54f;
}
