/* Resets & General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #373737;
}

section {
  background-color: #373737;
  margin: 10em 0;
}

.main-title,
p,
li,
h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #ffffff;
}

.content-card {
  background-color: #616161;
  box-shadow: 0 3px 6px #000000;
  height: 30vh;
  width: 95%;
  margin: 0.5em auto;
  padding: 3em 1em;
}

@media screen and (min-width: 1000px) {
  .content-card {
    box-shadow: 0 0 1px #000000;
    height: auto;
    width: 100%;
    padding: 1em;
    margin: 0;
  }
}

.primary-btn {
  background-color: #fbc02d;
  border: none;
  color: #000000;
  padding: 1em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Specific Font Style and Size Adjustments */
#logo {
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 1.1rem;
  display: inline;
}

.main-title {
  font-size: 1.7rem;
  margin-bottom: 1em;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.content-card ul {
  margin-top: 1em;
}

p,
li {
  font-size: 1.125rem;
  line-height: 1.8125rem;
}

.nav-link,
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.primary-btn {
  margin-top: 2em;
}

footer p,
footer li,
footer a {
  font-weight: 700;
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
}

footer p {
  font-size: 0.9rem;
}

@media screen and (min-width: 350px) {
  #logo {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 750px) {
  #logo {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1000px) {
}

/* Line Spacing  */

/* Main is only in the default layout - this holds the rest of the sections */
main {
  width: 100%;
}

/* Custom Containers */
.nav-flex-container {
  background-color: rgba(255, 255, 255, 0.12);
  width: 100%;
  padding: 1.3em;
  border-bottom: 1px solid #e0e0e0;
}

.footer-container {
  background-color: rgba(255, 255, 255, 0.12);
  width: 100%;
  border-top: 1px solid #e0e0e0;
  padding: 1.5em;
}

/* Navigation */
.nav-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links-desktop {
  display: none;
}

.logo-svg {
  display: inline;
  margin-right: 0.6em;
}

/* Mobile Menu */
.nav-links {
  position: absolute;
  top: 4.6em;
  height: 6vh;
  width: 100%;
  background-color: #ffd54f;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.nav-links li {
  font-size: 1rem;
}

.nav-links li a {
  color: black;
  font-weight: 700;
}

@media screen and (min-width: 1000px) {
  .nav-links {
    display: none;
  }

  .nav-links-desktop {
    display: flex;
  }

  .nav-links-desktop li {
    font-size: 1.3rem;
    margin-right: 3em;
  }

  .nav-links-desktop li a {
    color: white;
    background-color: none;
  }

  .nav-link {
    border-bottom: 1px solid #ffd54f;
  }
}

/* Main Content Sections */
#welcome {
  margin-top: 0;
}

hr {
  border: 0.2px solid #ffd54f;
}

.img-container {
  top: 3.8em;
  height: 100vh;
  background-image: url('../assets/images/front-audi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (min-width: 1000px) {
  .img-container {
    top: auto;
  }
}

.promise {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yellow-line {
  width: 80%;
  border: 1px solid #ffd54f;
  margin: 3em 0;
}

.promise .main-title {
  margin-bottom: 1em;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.contamination .text-wrap {
  margin: 2em 1.3em 0 1.3em;
}

@media screen and (min-width: 1000px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
}

.contact {
  padding: 2em;
}

.contact .text-wrap {
  margin-bottom: 2em;
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-copy a {
  text-decoration: underline;
}

.footer-icons {
  align-self: center;
}

.footer-icons a {
  padding-left: 1.5em;
}

@media screen and (min-width: 1000px) {
  .footer-container * {
    font-size: 0.9rem;
  }

  .footer-icons a {
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
}

/* Service Details Page */

.service-details-container {
  padding-top: 3em;
  padding-bottom: 3em;
}

.service-details-container .content-card {
  height: auto;
}

.service-details .primary-btn {
  margin-bottom: 2em;
}

.service-details .card-title {
  color: #fbc02d;
}

.service-details .focus-text {
  color: #fff263;
  font-weight: bold;
}

.service-details .alt-focus-text {
  color: #fff263;
}

.disclaimer-text {
  font-weight: bold;
  font-style: italic;
}

@media screen and (min-width: 1000px) {
  .service-details-container {
    display: flex;
  }

  .service-details-container .main-title {
    margin-top: 1.5em;
  }
}

/* Blog Posts Page */

#blog-page-heading {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  margin-bottom: 1.2em;
  margin-top: 3em;
  color: white;
}

#blog-page-heading-ul li {
  padding-bottom: 2em;
}

#blog-page-heading-ul a {
  color: #c8a415;
}

/* Blog Posts */

.post-main-container * {
  text-align: left;
}

.post-main-container {
  margin: 3em auto;
}

.post-title,
.post-subheading,
.post-main-container ol li {
  font-family: 'PT Sans Narrow', sans-serif;
}

.post-title,
.post-subheading {
  font-weight: 400;
}

.post-main-container ol li {
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
}

.post-title {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 3rem;
  border-bottom: 1px solid #ffd54f;
  color: white;
}

.post-subheading {
  padding-bottom: 0.5em;
  font-weight: 700;
  color: #ffd54f;
}

.post-main-container p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.3125em;
}

.post-main-container ol {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.post-main-container p,
ol {
  margin-bottom: 1.5em;
}

.post-main-container small {
  color: #ffd54f;
}

/* About Page */

.about-text {
  padding: 2em;
  font-size: 1.3rem;
  margin: 4em auto;
}

.about-container {
  width: 90%;
}

/* Contact Form */
.container {
  width: 95%;
  margin: 6em auto 3em auto;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  border: solid 2px #ffd54f;
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.05);
}

.whysign .logo-box {
  display: none;
  margin-bottom: 2em;
}

.contact-flex {
  display: flex;
  flex-direction: column;
}

.whysign {
  margin: 1em;
}

.signup {
  width: 100%;
  text-align: center;
}

[type='text'] {
  display: block;
  margin: 0 auto;
  width: 95%;
  border: 0;
  border-bottom: 1px solid white;
  height: 3.5em;
  margin-bottom: 1.5em;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
}

[type='submit'] {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  background-color: #ffd54f;
  color: black;
  border: none;
  width: 95%;
  padding: 1em 3em;
}

[type='text']:focus {
  outline: none;
  border-color: #ffd54f;
  color: white;
}

.contact-heading {
  font-size: 2.4rem;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 1000px) {
  .contact-flex {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .whysign {
    width: 33%;
  }

  .whysign .logo-box {
    display: block;
    margin-bottom: 2em;
  }

  .contact-logo {
    display: initial;
  }

  .signup {
    width: 50%;
  }

  [type='text'] {
    font-size: 1.1rem;
  }

  [type='submit'] {
    font-size: 1.2rem;
  }
}
